<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vinze.roomnotifierconnection">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/lucidus"
        android:label="lucidus"
        android:roundIcon="@drawable/lucidus"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".Activities.Login_Register.RegisterRiskActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.Login_Register.RegisterDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.Login_Register.RegisterUPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Login_Register.LoginRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Login_Register.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".NotificationManager.AlertReceiver" />

        <activity
            android:label="Erinnerungen bearbeiten"
            android:name=".Activities.AddEditReminderActivity"
            android:configChanges="orientation"
            android:parentActivityName=".Activities.ReminderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ReminderActivity"
            android:configChanges="orientation"
            android:label="Erinnerungen"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MedikamentActivity"
            android:parentActivityName=".Activities.SearchActivity" />
        <activity
            android:name=".Activities.SearchActivity"
            android:configChanges="orientation"
            android:label="Bibliothek"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.InfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.UserDataActivity"
            android:configChanges="orientation"
            android:label="Deine Daten"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>