<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vinze.roomnotifierconnection">

    <application
        android:allowBackup="true"
        android:icon="@drawable/lucidus"
        android:label="lucidus"
        android:roundIcon="@drawable/lucidus"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".NotificationManager.AlertReceiver" />

        <activity
            android:name=".Activities.AddEditReminderActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.ReminderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ReminderActivity"
            android:configChanges="orientation"
            android:label="lucidus"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Activities.MedikamentActivity"
            android:parentActivityName=".Activities.SearchActivity" />
        <activity
            android:name=".Activities.SearchActivity"
            android:configChanges="orientation"
            android:label="lucidus"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>